[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "Dependencies/cxxtest"]
	path = Dependencies/cxxtest
	url = https://github.com/CxxTest/cxxtest.git
	ignore = dirty
[submodule "Dependencies/cppcheck"]
	path = Dependencies/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "Dependencies/Simple-OpenGL-Image-Library"]
	path = Dependencies/Simple-OpenGL-Image-Library
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git
